<a href="https://colab.research.google.com/github/anabiancachiricu/BigDataProject/blob/main/BigDataProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Proiect Big data - Chiricu Ana Bianca, grupa 405

1. Introducere

Am ales setul de date Netflix Movies and TV Shows care reprezinta o lista cu toate filmele si serialele disponibile pe platforma de streaming Netflix la mmomentul crearii setului de date, impreuna cu detalii despre fiecare, cum ar fi durata, anul lansarii, distributia sau regizorii.

Am ales sa folosesc regresia logistica pentru a determina categoria de varsta la care se incadreaza show ul.

Link data set: https://www.kaggle.com/datasets/shivamb/netflix-shows

2.

In [1]:
!pip install PySpark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: PySpark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from PySpark) (0.10.9.7)

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
import seaborn as sns
import matplotlib.pyplot as plt
spark = SparkSession.builder.getOrCreate()

In [3]:
dataframe = spark.read.csv('sample_data/netflix_titles.csv', inferSchema=True, header=True)
dataframe.show(10)

+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|            director|                cast|             country|        date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|     Kirsten Johnson|                null|       United States|September 25, 2021|        2020| PG-13|   90 min|       Documentaries|As her father nea...|
|     s2|TV Show|       Blood & Water|                null|Ama Qamata, Khosi...|        South Africa|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|After crossing pa...|
|     s3|TV Show|           Ganglands|     Julien Leclercq|Sami Bouajila, Tr...|                null|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|
|     s4|TV Show|Jailbirds New Orl...|                null|                null|                null|September 24, 2021|        2021| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|
|     s5|TV Show|        Kota Factory|                null|Mayur More, Jiten...|               India|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|In a city of coac...|
|     s6|TV Show|       Midnight Mass|       Mike Flanagan|Kate Siegel, Zach...|                null|September 24, 2021|        2021| TV-MA| 1 Season|TV Dramas, TV Hor...|The arrival of a ...|
|     s7|  Movie|My Little Pony: A...|Robert Cullen, Jo...|Vanessa Hudgens, ...|                null|September 24, 2021|        2021|    PG|   91 min|Children & Family...|Equestria's divid...|
|     s8|  Movie|             Sankofa|        Haile Gerima|Kofi Ghanaba, Oya...|United States, Gh...|September 24, 2021|        1993| TV-MA|  125 min|Dramas, Independe...|On a photo shoot ...|
|     s9|TV Show|The Great British...|     Andy Devonshire|Mel Giedroyc, Sue...|      United Kingdom|September 24, 2021|        2021| TV-14|9 Seasons|British TV Shows,...|A talented batch ...|
|    s10|  Movie|        The Starling|      Theodore Melfi|Melissa McCarthy,...|       United States|September 24, 2021|        2021| PG-13|  104 min|    Comedies, Dramas|A woman adjusting...|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
only showing top 10 rows

In [4]:
dataframe.printSchema()

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

In [5]:
dataframe.registerTempTable('NetflixTable')

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

Verificarea si eliminarea inregistrarilor care au alt tip in afara de tv show si movie.

In [6]:
df2= spark.sql("Select distinct (type) from NetflixTable" )
df2.show()

+-------------+
|         type|
+-------------+
|         null|
|      TV Show|
|        Movie|
|William Wyler|
+-------------+

In [7]:
df3= spark.sql("Select * from NetflixTable where type in ('TV Show', 'Movie') ")

In [8]:
df3.show(10)

+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|            director|                cast|             country|        date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|     Kirsten Johnson|                null|       United States|September 25, 2021|        2020| PG-13|   90 min|       Documentaries|As her father nea...|
|     s2|TV Show|       Blood & Water|                null|Ama Qamata, Khosi...|        South Africa|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|After crossing pa...|
|     s3|TV Show|           Ganglands|     Julien Leclercq|Sami Bouajila, Tr...|                null|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|
|     s4|TV Show|Jailbirds New Orl...|                null|                null|                null|September 24, 2021|        2021| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|
|     s5|TV Show|        Kota Factory|                null|Mayur More, Jiten...|               India|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|In a city of coac...|
|     s6|TV Show|       Midnight Mass|       Mike Flanagan|Kate Siegel, Zach...|                null|September 24, 2021|        2021| TV-MA| 1 Season|TV Dramas, TV Hor...|The arrival of a ...|
|     s7|  Movie|My Little Pony: A...|Robert Cullen, Jo...|Vanessa Hudgens, ...|                null|September 24, 2021|        2021|    PG|   91 min|Children & Family...|Equestria's divid...|
|     s8|  Movie|             Sankofa|        Haile Gerima|Kofi Ghanaba, Oya...|United States, Gh...|September 24, 2021|        1993| TV-MA|  125 min|Dramas, Independe...|On a photo shoot ...|
|     s9|TV Show|The Great British...|     Andy Devonshire|Mel Giedroyc, Sue...|      United Kingdom|September 24, 2021|        2021| TV-14|9 Seasons|British TV Shows,...|A talented batch ...|
|    s10|  Movie|        The Starling|      Theodore Melfi|Melissa McCarthy,...|       United States|September 24, 2021|        2021| PG-13|  104 min|    Comedies, Dramas|A woman adjusting...|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
only showing top 10 rows

In [9]:
df3.registerTempTable('NetflixTable')

Eliminarea inregistrarilor care nu au an de lansare corespunzator.

In [10]:
df4=spark.sql("Select distinct(release_year) from NetflixTable")
df4.show()

+-----------------+
|     release_year|
+-----------------+
|     Ted Ferguson|
|             1987|
|             1956|
|             2016|
|             2020|
|             2012|
|             1958|
|             1943|
|             1972|
| Marquell Manning|
|             1988|
|             2019|
|             2017|
|             1977|
|             2014|
|             1971|
|             1984|
|             2013|
|             1982|
|             2005|
+-----------------+
only showing top 20 rows

In [11]:
df4= spark.sql("Select * from NetflixTable where release_year like ('____') order by release_year ")
df4.show()

+-------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
|show_id|   type|               title|            director|                cast|             country|       date_added|release_year|rating|duration|           listed_in|         description|
+-------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
|  s4251|TV Show|Pioneers: First W...|                null|                null|                null|December 30, 2018|        1925| TV-14|1 Season|            TV Shows|This collection r...|
|  s7791|  Movie|      Prelude to War|         Frank Capra|                null|       United States|   March 31, 2017|        1942| TV-14|  52 min|Classic Movies, D...|Frank Capra's doc...|
|  s8206|  Movie|The Battle of Midway|           John Ford|Henry Fonda, Jane...|       United States|   March 31, 2017|        1942| TV-14|  18 min|Classic Movies, D...|Director John For...|
|  s8661|  Movie|Undercover: How t...|           John Ford|                null|       United States|   March 31, 2017|        1943| TV-PG|  61 min|Classic Movies, D...|This World War II...|
|  s8740|  Movie|Why We Fight: The...|Frank Capra, Anat...|                null|       United States|   March 31, 2017|        1943| TV-PG|  82 min|       Documentaries|This installment ...|
|  s8764|  Movie|WWII: Report from...|         John Huston|                null|       United States|   March 31, 2017|        1943| TV-PG|  45 min|       Documentaries|Filmmaker John Hu...|
|  s8437|  Movie|   The Negro Soldier|      Stuart Heisler|                null|       United States|   March 31, 2017|        1944| TV-14|  40 min|Classic Movies, D...|This documentary ...|
|  s8641|  Movie|    Tunisian Victory|Frank Capra, John...|    Burgess Meredith|United States, Un...|   March 31, 2017|        1944| TV-14|  76 min|Classic Movies, D...|British and Ameri...|
|  s1332|TV Show|Five Came Back: T...|                null|                null|       United States| February 9, 2021|        1945| TV-MA|1 Season|            TV Shows|"This collection ...|
|  s7220|  Movie|Know Your Enemy -...|Frank Capra, Jori...|Walter Huston, Da...|       United States|   March 31, 2017|        1945| TV-14|  63 min|Classic Movies, D...|Though culturally...|
|  s7576|  Movie|Nazi Concentratio...|      George Stevens|                null|       United States|   March 31, 2017|        1945| TV-MA|  59 min|Classic Movies, D...|Shocking footage ...|
|  s7931|  Movie|          San Pietro|         John Huston|                null|       United States|   March 31, 2017|        1945| TV-14|  32 min|Classic Movies, D...|After the Allies ...|
|  s7295|  Movie|  Let There Be Light|         John Huston|       Walter Huston|       United States|   March 31, 2017|        1946| TV-PG|  58 min|Classic Movies, D...|Some returning co...|
|  s7744|TV Show|Pioneers of Afric...|Oscar Micheaux, S...|                null|       United States| February 1, 2017|        1946| TV-14|1 Season|            TV Shows|This newly preser...|
|  s8588|  Movie|         Thunderbolt|William Wyler, Jo...|James Stewart, Ll...|       United States|   March 31, 2017|        1947| TV-PG|  42 min|Classic Movies, D...|A P-47 Thunderbol...|
|  s1700|  Movie|     White Christmas|      Michael Curtiz|Bing Crosby, Dann...|       United States|November 15, 2020|        1954|  TV-G| 120 min|Children & Family...|Two war buddies f...|
|  s2376|  Movie|     The Blazing Sun|     Youssef Chahine|Omar Sharif, Fate...|               Egypt|    June 18, 2020|        1954| TV-14| 116 min|Classic Movies, D...|Competition betwe...|
|  s7840|  Movie|Rebel Without a C...|        Nicholas Ray|James Dean, Natal...|       United States| November 1, 2019|        1955| PG-13| 111 min|Classic Movies, D...|When Jim Stark ar...|
|  s7955|  Movie| Scandal in Sorrento|           Dino Risi|Vittorio De Sica,...|       Italy, France|November 13, 2020|        1955| TV-PG|  93 min|Classic Movies, C...|When a marshal mo...|
|  s8507|  Movie|   The Sign of Venus|           Dino Risi|Sophia Loren, Fra...|               Italy|November 13, 2020|        1955| TV-14|  97 min|Classic Movies, C...|While suitors swo...|
+-------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
only showing top 20 rows

In [12]:
df4.registerTempTable('NetflixTable')

Eliminarea tuturor inregistrarilor care contin date lipsa.

In [13]:
dfclean= spark.sql("Select * from NetflixTable where director is not null and cast is not null and country is not null and date_added is not null and release_year is not null and rating is not null and duration is not null and listed_in is not null and description is not null ")
dfclean.show()

+-------+-----+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
|show_id| type|               title|            director|                cast|             country|       date_added|release_year|rating|duration|           listed_in|         description|
+-------+-----+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
|  s8206|Movie|The Battle of Midway|           John Ford|Henry Fonda, Jane...|       United States|   March 31, 2017|        1942| TV-14|  18 min|Classic Movies, D...|Director John For...|
|  s8641|Movie|    Tunisian Victory|Frank Capra, John...|    Burgess Meredith|United States, Un...|   March 31, 2017|        1944| TV-14|  76 min|Classic Movies, D...|British and Ameri...|
|  s7220|Movie|Know Your Enemy -...|Frank Capra, Jori...|Walter Huston, Da...|       United States|   March 31, 2017|        1945| TV-14|  63 min|Classic Movies, D...|Though culturally...|
|  s7295|Movie|  Let There Be Light|         John Huston|       Walter Huston|       United States|   March 31, 2017|        1946| TV-PG|  58 min|Classic Movies, D...|Some returning co...|
|  s8588|Movie|         Thunderbolt|William Wyler, Jo...|James Stewart, Ll...|       United States|   March 31, 2017|        1947| TV-PG|  42 min|Classic Movies, D...|A P-47 Thunderbol...|
|  s1700|Movie|     White Christmas|      Michael Curtiz|Bing Crosby, Dann...|       United States|November 15, 2020|        1954|  TV-G| 120 min|Children & Family...|Two war buddies f...|
|  s2376|Movie|     The Blazing Sun|     Youssef Chahine|Omar Sharif, Fate...|               Egypt|    June 18, 2020|        1954| TV-14| 116 min|Classic Movies, D...|Competition betwe...|
|  s8507|Movie|   The Sign of Venus|           Dino Risi|Sophia Loren, Fra...|               Italy|November 13, 2020|        1955| TV-14|  97 min|Classic Movies, C...|While suitors swo...|
|  s7840|Movie|Rebel Without a C...|        Nicholas Ray|James Dean, Natal...|       United States| November 1, 2019|        1955| PG-13| 111 min|Classic Movies, D...|When Jim Stark ar...|
|  s7955|Movie| Scandal in Sorrento|           Dino Risi|Vittorio De Sica,...|       Italy, France|November 13, 2020|        1955| TV-PG|  93 min|Classic Movies, C...|When a marshal mo...|
|  s6785|Movie|    Forbidden Planet|      Fred M. Wilcox|Leslie Nielsen, W...|       United States| November 1, 2019|        1956|     G|  98 min|Action & Adventur...|A pulp-fiction sc...|
|  s2370|Movie|         Dark Waters|     Youssef Chahine|Faten Hamama, Oma...|               Egypt|    June 18, 2020|        1956| TV-14| 104 min|Classic Movies, D...|A fisherman retur...|
|  s6854|Movie|                Gigi|Vincente Minnelli...|Leslie Caron, Mau...|       United States| November 1, 2019|        1958|     G| 115 min|Classic Movies, C...|Gigi's an avant-g...|
|  s2369|Movie|       Cairo Station|     Youssef Chahine|Farid Shawqy, Hin...|               Egypt|    June 18, 2020|        1958| TV-14|  73 min|Classic Movies, D...|A Cairo newsstand...|
|  s6432|Movie|Cat on a Hot Tin ...|      Richard Brooks|Elizabeth Taylor,...|       United States| November 1, 2019|        1958|    NR| 108 min|Classic Movies, D...|Members of a Sout...|
|   s543|Movie|               Ujala|       Naresh Saigal|Mala Sinha, Shamm...|               India|     July 6, 2021|        1959| TV-14| 143 min|Dramas, Internati...|An honest man dre...|
|  s5221|Movie|           Singapore|      Shakti Samanta|Shammi Kapoor, Pa...|     India, Malaysia| October 15, 2017|        1960| TV-PG| 158 min|Comedies, Dramas,...|When his employee...|
|  s6396|Movie|       Butterfield 8|         Daniel Mann|Elizabeth Taylor,...|       United States| November 1, 2019|        1960| TV-14| 108 min|Classic Movies, D...|Elizabeth Taylor ...|
|  s7638|Movie|      Ocean's Eleven|     Lewis Milestone|Frank Sinatra, De...|       United States| November 1, 2019|        1960| TV-PG| 127 min|Action & Adventur...|Frank Sinatra lea...|
|   s178|Movie|The Guns of Navarone|     J. Lee Thompson|Gregory Peck, Dav...|United Kingdom, U...|September 1, 2021|        1961| TV-14| 156 min|Action & Adventur...|During World War ...|
+-------+-----+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
only showing top 20 rows

In [14]:
dfclean.registerTempTable('NetflixTableClean')

Calcularea numarului de filme si seriale aparute in fiecare an

In [15]:
dfmoviesandshowsperyear= spark.sql("select release_year, count(show_id),  type from NetflixTableClean group by release_year, type order by release_year" )
dfmoviesandshowsperyear.show()

+------------+--------------+-----+
|release_year|count(show_id)| type|
+------------+--------------+-----+
|        1942|             1|Movie|
|        1944|             1|Movie|
|        1945|             1|Movie|
|        1946|             1|Movie|
|        1947|             1|Movie|
|        1954|             2|Movie|
|        1955|             3|Movie|
|        1956|             2|Movie|
|        1958|             3|Movie|
|        1959|             1|Movie|
|        1960|             3|Movie|
|        1961|             1|Movie|
|        1962|             3|Movie|
|        1963|             1|Movie|
|        1964|             2|Movie|
|        1965|             2|Movie|
|        1966|             1|Movie|
|        1967|             4|Movie|
|        1968|             3|Movie|
|        1969|             2|Movie|
+------------+--------------+-----+
only showing top 20 rows

Durata medie a filmelor in functie de anul lansarii

In [16]:
from pyspark.sql.functions import first
from pyspark.sql.functions import split

df7 = spark.sql("Select type, release_year, duration from NetflixTableClean")
dff = df7.groupBy("type", "release_year", "duration").agg(split("duration", " ").getItem(0).alias("dur"))
dff.registerTempTable('NetflixMoviesDuration')
dfavgDuration=spark.sql("Select avg(dur), release_year from NetflixMoviesDuration group by release_year order by release_year")
dfavgDuration.show()

+------------------+------------+
|          avg(dur)|release_year|
+------------------+------------+
|              18.0|        1942|
|              76.0|        1944|
|              63.0|        1945|
|              58.0|        1946|
|              42.0|        1947|
|             118.0|        1954|
|100.33333333333333|        1955|
|             101.0|        1956|
| 98.66666666666667|        1958|
|             143.0|        1959|
|             131.0|        1960|
|             156.0|        1961|
|             167.0|        1962|
|             194.0|        1963|
|             200.5|        1964|
|             151.5|        1965|
|             116.0|        1966|
|            105.25|        1967|
|149.66666666666666|        1968|
|             140.0|        1969|
+------------------+------------+
only showing top 20 rows

3. Regresie logistica pentru predictia ratingului in functie de tara, catgorie si anul aparitiei.

In [17]:
import pyspark.ml
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml.classification import LogisticRegression

Prelucrarea datelor:

In [49]:
df= spark.sql("Select title, director, cast, listed_in, rating, country, cast(release_year as int) from NetflixTableClean")

In [50]:
display(df)

DataFrame[title: string, director: string, cast: string, listed_in: string, rating: string, country: string, release_year: int]

Verificam cate filme si seriale fac parte din fiecare categorie de rating

In [51]:
df.groupby("rating").count().show()

+--------+-----+
|  rating|count|
+--------+-----+
|    TV-Y|   76|
|      UR|    3|
|      PG|  274|
|   TV-MA| 1812|
|TV-Y7-FV|    3|
|      NR|   58|
|   TV-PG|  431|
|   NC-17|    2|
|       R|  775|
|       G|   40|
|   TV-14| 1213|
|    TV-G|   84|
|   TV-Y7|   76|
|   PG-13|  469|
+--------+-----+

Functie definita de utilizator pentru a imparti categoriile de rating in 3 categorii: children, teenagers si adults.

In [52]:
from pyspark.sql.functions import udf
def udf_content_rating_group(rating):
  if rating == "TV-Y" or rating == "TV-Y7":
    return 'Children'
  elif rating == "TV-MA" or rating == "NC-17" or rating == "R" or rating == "TV-G":
    return 'Adults'
  elif rating =="TV-Y7-FV" or rating == "TV-PG" or rating== "TV-14"  or rating == "PG" or rating == "G" or rating == "PG-13":
    return 'Teenagers'
  else:
    return 'N/A'

In [53]:
rating_udf= udf(udf_content_rating_group)
df=df.withColumn("rating_udf",rating_udf('rating') )
df.show()

+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+
|               title|            director|                cast|           listed_in|rating|             country|release_year|rating_udf|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+
|The Battle of Midway|           John Ford|Henry Fonda, Jane...|Classic Movies, D...| TV-14|       United States|        1942| Teenagers|
|    Tunisian Victory|Frank Capra, John...|    Burgess Meredith|Classic Movies, D...| TV-14|United States, Un...|        1944| Teenagers|
|Know Your Enemy -...|Frank Capra, Jori...|Walter Huston, Da...|Classic Movies, D...| TV-14|       United States|        1945| Teenagers|
|  Let There Be Light|         John Huston|       Walter Huston|Classic Movies, D...| TV-PG|       United States|        1946| Teenagers|
|         Thunderbolt|William Wyler, Jo...|James Stewart, Ll...|Classic Movies, D...| TV-PG|       United States|        1947| Teenagers|
|     White Christmas|      Michael Curtiz|Bing Crosby, Dann...|Children & Family...|  TV-G|       United States|        1954|    Adults|
|     The Blazing Sun|     Youssef Chahine|Omar Sharif, Fate...|Classic Movies, D...| TV-14|               Egypt|        1954| Teenagers|
|Rebel Without a C...|        Nicholas Ray|James Dean, Natal...|Classic Movies, D...| PG-13|       United States|        1955| Teenagers|
| Scandal in Sorrento|           Dino Risi|Vittorio De Sica,...|Classic Movies, C...| TV-PG|       Italy, France|        1955| Teenagers|
|   The Sign of Venus|           Dino Risi|Sophia Loren, Fra...|Classic Movies, C...| TV-14|               Italy|        1955| Teenagers|
|         Dark Waters|     Youssef Chahine|Faten Hamama, Oma...|Classic Movies, D...| TV-14|               Egypt|        1956| Teenagers|
|    Forbidden Planet|      Fred M. Wilcox|Leslie Nielsen, W...|Action & Adventur...|     G|       United States|        1956| Teenagers|
|       Cairo Station|     Youssef Chahine|Farid Shawqy, Hin...|Classic Movies, D...| TV-14|               Egypt|        1958| Teenagers|
|Cat on a Hot Tin ...|      Richard Brooks|Elizabeth Taylor,...|Classic Movies, D...|    NR|       United States|        1958|       N/A|
|                Gigi|Vincente Minnelli...|Leslie Caron, Mau...|Classic Movies, C...|     G|       United States|        1958| Teenagers|
|               Ujala|       Naresh Saigal|Mala Sinha, Shamm...|Dramas, Internati...| TV-14|               India|        1959| Teenagers|
|           Singapore|      Shakti Samanta|Shammi Kapoor, Pa...|Comedies, Dramas,...| TV-PG|     India, Malaysia|        1960| Teenagers|
|       Butterfield 8|         Daniel Mann|Elizabeth Taylor,...|Classic Movies, D...| TV-14|       United States|        1960| Teenagers|
|      Ocean's Eleven|     Lewis Milestone|Frank Sinatra, De...|Action & Adventur...| TV-PG|       United States|        1960| Teenagers|
|The Guns of Navarone|     J. Lee Thompson|Gregory Peck, Dav...|Action & Adventur...| TV-14|United Kingdom, U...|        1961| Teenagers|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+
only showing top 20 rows

In [37]:
stringIndexer1=StringIndexer().setInputCol("rating_udf").setOutputCol("rating_udfIndex")
stringIndexer2=StringIndexer().setInputCol("country").setOutputCol("country_indexed")
stringIndexer3=StringIndexer().setInputCol("director").setOutputCol("director_indexed")
stringIndexer4=StringIndexer().setInputCol("listed_in").setOutputCol("listed_in_indexed")

In [54]:
rating_udfIndex_model=stringIndexer1.fit(df)
rating_udfIndex_df = rating_udfIndex_model.transform(df)
rating_udfIndex_df.groupby("rating_udfIndex").count().show()

+---------------+-----+
|rating_udfIndex|count|
+---------------+-----+
|            0.0| 2673|
|            1.0| 2430|
|            3.0|   61|
|            2.0|  152|
+---------------+-----+

Utilizerea de StringIndexer pentru restul coloanelor: country, director, listed_in

In [56]:
country_indexed_model=stringIndexer2.fit(rating_udfIndex_df)
country_indexed_df = country_indexed_model.transform(rating_udfIndex_df)
country_indexed_df.groupby("country_indexed").count().show()

+---------------+-----+
|country_indexed|count|
+---------------+-----+
|          305.0|    1|
|          558.0|    1|
|          596.0|    1|
|          496.0|    1|
|          299.0|    1|
|          576.0|    1|
|          147.0|    2|
|          184.0|    1|
|          170.0|    1|
|          160.0|    1|
|          169.0|    1|
|           70.0|    4|
|           67.0|    4|
|          571.0|    1|
|            8.0|   79|
|          486.0|    1|
|          379.0|    1|
|          311.0|    1|
|          168.0|    1|
|            0.0| 1836|
+---------------+-----+
only showing top 20 rows

In [57]:
director_indexed_model=stringIndexer3.fit(country_indexed_df)
director_indexed_df = director_indexed_model.transform(country_indexed_df)
director_indexed_df.groupby("director_indexed").count().show()

+----------------+-----+
|director_indexed|count|
+----------------+-----+
|           934.0|    1|
|          2734.0|    1|
|           596.0|    2|
|          1761.0|    1|
|           299.0|    2|
|           558.0|    2|
|          2862.0|    1|
|           769.0|    1|
|          2815.0|    1|
|           305.0|    2|
|          1051.0|    1|
|          3597.0|    1|
|          3901.0|    1|
|           692.0|    2|
|           496.0|    2|
|          3029.0|    1|
|           720.0|    2|
|           782.0|    1|
|           576.0|    2|
|          3507.0|    1|
+----------------+-----+
only showing top 20 rows

In [58]:
listed_in_indexed_model=stringIndexer4.fit(director_indexed_df)
listed_in_indexed_df = listed_in_indexed_model.transform(director_indexed_df)
listed_in_indexed_df.groupby("listed_in_indexed").count().show()

+-----------------+-----+
|listed_in_indexed|count|
+-----------------+-----+
|            299.0|    1|
|            305.0|    1|
|            147.0|    4|
|            184.0|    2|
|            170.0|    3|
|            160.0|    3|
|            169.0|    3|
|             67.0|   11|
|              8.0|  143|
|             70.0|   11|
|            311.0|    1|
|            168.0|    3|
|              0.0|  335|
|             69.0|   11|
|            206.0|    2|
|              7.0|  152|
|            249.0|    1|
|            142.0|    4|
|            191.0|    2|
|            329.0|    1|
+-----------------+-----+
only showing top 20 rows

In [59]:
listed_in_indexed_df.show()

+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+
|               title|            director|                cast|           listed_in|rating|             country|release_year|rating_udf|rating_udfIndex|country_indexed|director_indexed|listed_in_indexed|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+
|The Battle of Midway|           John Ford|Henry Fonda, Jane...|Classic Movies, D...| TV-14|       United States|        1942| Teenagers|            1.0|            0.0|          2151.0|            120.0|
|    Tunisian Victory|Frank Capra, John...|    Burgess Meredith|Classic Movies, D...| TV-14|United States, Un...|        1944| Teenagers|            1.0|           22.0|          1687.0|            120.0|
|Know Your Enemy -...|Frank Capra, Jori...|Walter Huston, Da...|Classic Movies, D...| TV-14|       United States|        1945| Teenagers|            1.0|            0.0|          1688.0|            120.0|
|  Let There Be Light|         John Huston|       Walter Huston|Classic Movies, D...| TV-PG|       United States|        1946| Teenagers|            1.0|            0.0|          2155.0|            120.0|
|         Thunderbolt|William Wyler, Jo...|James Stewart, Ll...|Classic Movies, D...| TV-PG|       United States|        1947| Teenagers|            1.0|            0.0|          3863.0|            120.0|
|     White Christmas|      Michael Curtiz|Bing Crosby, Dann...|Children & Family...|  TV-G|       United States|        1954|    Adults|            0.0|            0.0|          2748.0|            156.0|
|     The Blazing Sun|     Youssef Chahine|Omar Sharif, Fate...|Classic Movies, D...| TV-14|               Egypt|        1954| Teenagers|            1.0|            5.0|             6.0|             56.0|
|Rebel Without a C...|        Nicholas Ray|James Dean, Natal...|Classic Movies, D...| PG-13|       United States|        1955| Teenagers|            1.0|            0.0|          2899.0|             68.0|
| Scandal in Sorrento|           Dino Risi|Vittorio De Sica,...|Classic Movies, C...| TV-PG|       Italy, France|        1955| Teenagers|            1.0|           70.0|           401.0|            193.0|
|   The Sign of Venus|           Dino Risi|Sophia Loren, Fra...|Classic Movies, C...| TV-14|               Italy|        1955| Teenagers|            1.0|           25.0|           401.0|            193.0|
|         Dark Waters|     Youssef Chahine|Faten Hamama, Oma...|Classic Movies, D...| TV-14|               Egypt|        1956| Teenagers|            1.0|            5.0|             6.0|             56.0|
|    Forbidden Planet|      Fred M. Wilcox|Leslie Nielsen, W...|Action & Adventur...|     G|       United States|        1956| Teenagers|            1.0|            0.0|          1698.0|            230.0|
|       Cairo Station|     Youssef Chahine|Farid Shawqy, Hin...|Classic Movies, D...| TV-14|               Egypt|        1958| Teenagers|            1.0|            5.0|             6.0|             56.0|
|Cat on a Hot Tin ...|      Richard Brooks|Elizabeth Taylor,...|Classic Movies, D...|    NR|       United States|        1958|       N/A|            3.0|            0.0|          3222.0|             68.0|
|                Gigi|Vincente Minnelli...|Leslie Caron, Mau...|Classic Movies, C...|     G|       United States|        1958| Teenagers|            1.0|            0.0|          3824.0|            194.0|
|               Ujala|       Naresh Saigal|Mala Sinha, Shamm...|Dramas, Internati...| TV-14|               India|        1959| Teenagers|            1.0|            1.0|          2871.0|              0.0|
|           Singapore|      Shakti Samanta|Shammi Kapoor, Pa...|Comedies, Dramas,...| TV-PG|     India, Malaysia|        1960| Teenagers|            1.0|          305.0|           660.0|              2.0|
|       Butterfield 8|         Daniel Mann|Elizabeth Taylor,...|Classic Movies, D...| TV-14|       United States|        1960| Teenagers|            1.0|            0.0|          1401.0|            162.0|
|      Ocean's Eleven|     Lewis Milestone|Frank Sinatra, De...|Action & Adventur...| TV-PG|       United States|        1960| Teenagers|            1.0|            0.0|          2486.0|            135.0|
|The Guns of Navarone|     J. Lee Thompson|Gregory Peck, Dav...|Action & Adventur...| TV-14|United Kingdom, U...|        1961| Teenagers|            1.0|           13.0|          1953.0|            112.0|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+
only showing top 20 rows

Adaugarea oneHotEncoder pentru grupele de rating si pentru titlu, regizor si tara

In [60]:
encoder=OneHotEncoder().setInputCols(["rating_udfIndex","country_indexed", "director_indexed", "listed_in_indexed" ]).setOutputCols(["rating_encoded", "country_encoded", "director_encoded", "listed_in_encoded"])

In [61]:

encoder_model=encoder.fit(listed_in_indexed_df)
encoder_df=encoder_model.transform(listed_in_indexed_df)

encoder_df.show()

+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+
|               title|            director|                cast|           listed_in|rating|             country|release_year|rating_udf|rating_udfIndex|country_indexed|director_indexed|listed_in_indexed|rating_encoded|  country_encoded|   director_encoded|listed_in_encoded|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+
|The Battle of Midway|           John Ford|Henry Fonda, Jane...|Classic Movies, D...| TV-14|       United States|        1942| Teenagers|            1.0|            0.0|          2151.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2151],[1.0])|(334,[120],[1.0])|
|    Tunisian Victory|Frank Capra, John...|    Burgess Meredith|Classic Movies, D...| TV-14|United States, Un...|        1944| Teenagers|            1.0|           22.0|          1687.0|            120.0| (3,[1],[1.0])| (603,[22],[1.0])|(3936,[1687],[1.0])|(334,[120],[1.0])|
|Know Your Enemy -...|Frank Capra, Jori...|Walter Huston, Da...|Classic Movies, D...| TV-14|       United States|        1945| Teenagers|            1.0|            0.0|          1688.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1688],[1.0])|(334,[120],[1.0])|
|  Let There Be Light|         John Huston|       Walter Huston|Classic Movies, D...| TV-PG|       United States|        1946| Teenagers|            1.0|            0.0|          2155.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2155],[1.0])|(334,[120],[1.0])|
|         Thunderbolt|William Wyler, Jo...|James Stewart, Ll...|Classic Movies, D...| TV-PG|       United States|        1947| Teenagers|            1.0|            0.0|          3863.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[3863],[1.0])|(334,[120],[1.0])|
|     White Christmas|      Michael Curtiz|Bing Crosby, Dann...|Children & Family...|  TV-G|       United States|        1954|    Adults|            0.0|            0.0|          2748.0|            156.0| (3,[0],[1.0])|  (603,[0],[1.0])|(3936,[2748],[1.0])|(334,[156],[1.0])|
|     The Blazing Sun|     Youssef Chahine|Omar Sharif, Fate...|Classic Movies, D...| TV-14|               Egypt|        1954| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|
|Rebel Without a C...|        Nicholas Ray|James Dean, Natal...|Classic Movies, D...| PG-13|       United States|        1955| Teenagers|            1.0|            0.0|          2899.0|             68.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2899],[1.0])| (334,[68],[1.0])|
| Scandal in Sorrento|           Dino Risi|Vittorio De Sica,...|Classic Movies, C...| TV-PG|       Italy, France|        1955| Teenagers|            1.0|           70.0|           401.0|            193.0| (3,[1],[1.0])| (603,[70],[1.0])| (3936,[401],[1.0])|(334,[193],[1.0])|
|   The Sign of Venus|           Dino Risi|Sophia Loren, Fra...|Classic Movies, C...| TV-14|               Italy|        1955| Teenagers|            1.0|           25.0|           401.0|            193.0| (3,[1],[1.0])| (603,[25],[1.0])| (3936,[401],[1.0])|(334,[193],[1.0])|
|         Dark Waters|     Youssef Chahine|Faten Hamama, Oma...|Classic Movies, D...| TV-14|               Egypt|        1956| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|
|    Forbidden Planet|      Fred M. Wilcox|Leslie Nielsen, W...|Action & Adventur...|     G|       United States|        1956| Teenagers|            1.0|            0.0|          1698.0|            230.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1698],[1.0])|(334,[230],[1.0])|
|       Cairo Station|     Youssef Chahine|Farid Shawqy, Hin...|Classic Movies, D...| TV-14|               Egypt|        1958| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|
|Cat on a Hot Tin ...|      Richard Brooks|Elizabeth Taylor,...|Classic Movies, D...|    NR|       United States|        1958|       N/A|            3.0|            0.0|          3222.0|             68.0|     (3,[],[])|  (603,[0],[1.0])|(3936,[3222],[1.0])| (334,[68],[1.0])|
|                Gigi|Vincente Minnelli...|Leslie Caron, Mau...|Classic Movies, C...|     G|       United States|        1958| Teenagers|            1.0|            0.0|          3824.0|            194.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[3824],[1.0])|(334,[194],[1.0])|
|               Ujala|       Naresh Saigal|Mala Sinha, Shamm...|Dramas, Internati...| TV-14|               India|        1959| Teenagers|            1.0|            1.0|          2871.0|              0.0| (3,[1],[1.0])|  (603,[1],[1.0])|(3936,[2871],[1.0])|  (334,[0],[1.0])|
|           Singapore|      Shakti Samanta|Shammi Kapoor, Pa...|Comedies, Dramas,...| TV-PG|     India, Malaysia|        1960| Teenagers|            1.0|          305.0|           660.0|              2.0| (3,[1],[1.0])|(603,[305],[1.0])| (3936,[660],[1.0])|  (334,[2],[1.0])|
|       Butterfield 8|         Daniel Mann|Elizabeth Taylor,...|Classic Movies, D...| TV-14|       United States|        1960| Teenagers|            1.0|            0.0|          1401.0|            162.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1401],[1.0])|(334,[162],[1.0])|
|      Ocean's Eleven|     Lewis Milestone|Frank Sinatra, De...|Action & Adventur...| TV-PG|       United States|        1960| Teenagers|            1.0|            0.0|          2486.0|            135.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2486],[1.0])|(334,[135],[1.0])|
|The Guns of Navarone|     J. Lee Thompson|Gregory Peck, Dav...|Action & Adventur...| TV-14|United Kingdom, U...|        1961| Teenagers|            1.0|           13.0|          1953.0|            112.0| (3,[1],[1.0])| (603,[13],[1.0])|(3936,[1953],[1.0])|(334,[112],[1.0])|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+
only showing top 20 rows

Transformarea caracteristiciolr selectate in vector folosind Vector Assembler

In [62]:
assembler=VectorAssembler().setInputCols([ "country_encoded", "director_encoded", "listed_in_encoded",  "release_year"]).setOutputCol("vectorized_features_out")

In [63]:

assembler_df=assembler.transform(encoder_df)
assembler_df.show()

+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+-----------------------+
|               title|            director|                cast|           listed_in|rating|             country|release_year|rating_udf|rating_udfIndex|country_indexed|director_indexed|listed_in_indexed|rating_encoded|  country_encoded|   director_encoded|listed_in_encoded|vectorized_features_out|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+-----------------------+
|The Battle of Midway|           John Ford|Henry Fonda, Jane...|Classic Movies, D...| TV-14|       United States|        1942| Teenagers|            1.0|            0.0|          2151.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2151],[1.0])|(334,[120],[1.0])|   (4874,[0,2754,465...|
|    Tunisian Victory|Frank Capra, John...|    Burgess Meredith|Classic Movies, D...| TV-14|United States, Un...|        1944| Teenagers|            1.0|           22.0|          1687.0|            120.0| (3,[1],[1.0])| (603,[22],[1.0])|(3936,[1687],[1.0])|(334,[120],[1.0])|   (4874,[22,2290,46...|
|Know Your Enemy -...|Frank Capra, Jori...|Walter Huston, Da...|Classic Movies, D...| TV-14|       United States|        1945| Teenagers|            1.0|            0.0|          1688.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1688],[1.0])|(334,[120],[1.0])|   (4874,[0,2291,465...|
|  Let There Be Light|         John Huston|       Walter Huston|Classic Movies, D...| TV-PG|       United States|        1946| Teenagers|            1.0|            0.0|          2155.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2155],[1.0])|(334,[120],[1.0])|   (4874,[0,2758,465...|
|         Thunderbolt|William Wyler, Jo...|James Stewart, Ll...|Classic Movies, D...| TV-PG|       United States|        1947| Teenagers|            1.0|            0.0|          3863.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[3863],[1.0])|(334,[120],[1.0])|   (4874,[0,4466,465...|
|     White Christmas|      Michael Curtiz|Bing Crosby, Dann...|Children & Family...|  TV-G|       United States|        1954|    Adults|            0.0|            0.0|          2748.0|            156.0| (3,[0],[1.0])|  (603,[0],[1.0])|(3936,[2748],[1.0])|(334,[156],[1.0])|   (4874,[0,3351,469...|
|     The Blazing Sun|     Youssef Chahine|Omar Sharif, Fate...|Classic Movies, D...| TV-14|               Egypt|        1954| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|   (4874,[5,609,4595...|
|Rebel Without a C...|        Nicholas Ray|James Dean, Natal...|Classic Movies, D...| PG-13|       United States|        1955| Teenagers|            1.0|            0.0|          2899.0|             68.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2899],[1.0])| (334,[68],[1.0])|   (4874,[0,3502,460...|
| Scandal in Sorrento|           Dino Risi|Vittorio De Sica,...|Classic Movies, C...| TV-PG|       Italy, France|        1955| Teenagers|            1.0|           70.0|           401.0|            193.0| (3,[1],[1.0])| (603,[70],[1.0])| (3936,[401],[1.0])|(334,[193],[1.0])|   (4874,[70,1004,47...|
|   The Sign of Venus|           Dino Risi|Sophia Loren, Fra...|Classic Movies, C...| TV-14|               Italy|        1955| Teenagers|            1.0|           25.0|           401.0|            193.0| (3,[1],[1.0])| (603,[25],[1.0])| (3936,[401],[1.0])|(334,[193],[1.0])|   (4874,[25,1004,47...|
|         Dark Waters|     Youssef Chahine|Faten Hamama, Oma...|Classic Movies, D...| TV-14|               Egypt|        1956| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|   (4874,[5,609,4595...|
|    Forbidden Planet|      Fred M. Wilcox|Leslie Nielsen, W...|Action & Adventur...|     G|       United States|        1956| Teenagers|            1.0|            0.0|          1698.0|            230.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1698],[1.0])|(334,[230],[1.0])|   (4874,[0,2301,476...|
|       Cairo Station|     Youssef Chahine|Farid Shawqy, Hin...|Classic Movies, D...| TV-14|               Egypt|        1958| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|   (4874,[5,609,4595...|
|Cat on a Hot Tin ...|      Richard Brooks|Elizabeth Taylor,...|Classic Movies, D...|    NR|       United States|        1958|       N/A|            3.0|            0.0|          3222.0|             68.0|     (3,[],[])|  (603,[0],[1.0])|(3936,[3222],[1.0])| (334,[68],[1.0])|   (4874,[0,3825,460...|
|                Gigi|Vincente Minnelli...|Leslie Caron, Mau...|Classic Movies, C...|     G|       United States|        1958| Teenagers|            1.0|            0.0|          3824.0|            194.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[3824],[1.0])|(334,[194],[1.0])|   (4874,[0,4427,473...|
|               Ujala|       Naresh Saigal|Mala Sinha, Shamm...|Dramas, Internati...| TV-14|               India|        1959| Teenagers|            1.0|            1.0|          2871.0|              0.0| (3,[1],[1.0])|  (603,[1],[1.0])|(3936,[2871],[1.0])|  (334,[0],[1.0])|   (4874,[1,3474,453...|
|           Singapore|      Shakti Samanta|Shammi Kapoor, Pa...|Comedies, Dramas,...| TV-PG|     India, Malaysia|        1960| Teenagers|            1.0|          305.0|           660.0|              2.0| (3,[1],[1.0])|(603,[305],[1.0])| (3936,[660],[1.0])|  (334,[2],[1.0])|   (4874,[305,1263,4...|
|       Butterfield 8|         Daniel Mann|Elizabeth Taylor,...|Classic Movies, D...| TV-14|       United States|        1960| Teenagers|            1.0|            0.0|          1401.0|            162.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1401],[1.0])|(334,[162],[1.0])|   (4874,[0,2004,470...|
|      Ocean's Eleven|     Lewis Milestone|Frank Sinatra, De...|Action & Adventur...| TV-PG|       United States|        1960| Teenagers|            1.0|            0.0|          2486.0|            135.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2486],[1.0])|(334,[135],[1.0])|   (4874,[0,3089,467...|
|The Guns of Navarone|     J. Lee Thompson|Gregory Peck, Dav...|Action & Adventur...| TV-14|United Kingdom, U...|        1961| Teenagers|            1.0|           13.0|          1953.0|            112.0| (3,[1],[1.0])| (603,[13],[1.0])|(3936,[1953],[1.0])|(334,[112],[1.0])|   (4874,[13,2556,46...|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+-----------------------+
only showing top 20 rows

Adaugarea de labels

In [64]:
label_indexer = StringIndexer().setInputCol("rating_udfIndex").setOutputCol("label")

In [65]:

label_indexer_model = label_indexer.fit(assembler_df)
label_indexer_df= label_indexer_model.transform(assembler_df)

label_indexer_df.show()

+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+-----------------------+-----+
|               title|            director|                cast|           listed_in|rating|             country|release_year|rating_udf|rating_udfIndex|country_indexed|director_indexed|listed_in_indexed|rating_encoded|  country_encoded|   director_encoded|listed_in_encoded|vectorized_features_out|label|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+-----------------------+-----+
|The Battle of Midway|           John Ford|Henry Fonda, Jane...|Classic Movies, D...| TV-14|       United States|        1942| Teenagers|            1.0|            0.0|          2151.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2151],[1.0])|(334,[120],[1.0])|   (4874,[0,2754,465...|  1.0|
|    Tunisian Victory|Frank Capra, John...|    Burgess Meredith|Classic Movies, D...| TV-14|United States, Un...|        1944| Teenagers|            1.0|           22.0|          1687.0|            120.0| (3,[1],[1.0])| (603,[22],[1.0])|(3936,[1687],[1.0])|(334,[120],[1.0])|   (4874,[22,2290,46...|  1.0|
|Know Your Enemy -...|Frank Capra, Jori...|Walter Huston, Da...|Classic Movies, D...| TV-14|       United States|        1945| Teenagers|            1.0|            0.0|          1688.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1688],[1.0])|(334,[120],[1.0])|   (4874,[0,2291,465...|  1.0|
|  Let There Be Light|         John Huston|       Walter Huston|Classic Movies, D...| TV-PG|       United States|        1946| Teenagers|            1.0|            0.0|          2155.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2155],[1.0])|(334,[120],[1.0])|   (4874,[0,2758,465...|  1.0|
|         Thunderbolt|William Wyler, Jo...|James Stewart, Ll...|Classic Movies, D...| TV-PG|       United States|        1947| Teenagers|            1.0|            0.0|          3863.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[3863],[1.0])|(334,[120],[1.0])|   (4874,[0,4466,465...|  1.0|
|     White Christmas|      Michael Curtiz|Bing Crosby, Dann...|Children & Family...|  TV-G|       United States|        1954|    Adults|            0.0|            0.0|          2748.0|            156.0| (3,[0],[1.0])|  (603,[0],[1.0])|(3936,[2748],[1.0])|(334,[156],[1.0])|   (4874,[0,3351,469...|  0.0|
|     The Blazing Sun|     Youssef Chahine|Omar Sharif, Fate...|Classic Movies, D...| TV-14|               Egypt|        1954| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|   (4874,[5,609,4595...|  1.0|
|Rebel Without a C...|        Nicholas Ray|James Dean, Natal...|Classic Movies, D...| PG-13|       United States|        1955| Teenagers|            1.0|            0.0|          2899.0|             68.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2899],[1.0])| (334,[68],[1.0])|   (4874,[0,3502,460...|  1.0|
| Scandal in Sorrento|           Dino Risi|Vittorio De Sica,...|Classic Movies, C...| TV-PG|       Italy, France|        1955| Teenagers|            1.0|           70.0|           401.0|            193.0| (3,[1],[1.0])| (603,[70],[1.0])| (3936,[401],[1.0])|(334,[193],[1.0])|   (4874,[70,1004,47...|  1.0|
|   The Sign of Venus|           Dino Risi|Sophia Loren, Fra...|Classic Movies, C...| TV-14|               Italy|        1955| Teenagers|            1.0|           25.0|           401.0|            193.0| (3,[1],[1.0])| (603,[25],[1.0])| (3936,[401],[1.0])|(334,[193],[1.0])|   (4874,[25,1004,47...|  1.0|
|         Dark Waters|     Youssef Chahine|Faten Hamama, Oma...|Classic Movies, D...| TV-14|               Egypt|        1956| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|   (4874,[5,609,4595...|  1.0|
|    Forbidden Planet|      Fred M. Wilcox|Leslie Nielsen, W...|Action & Adventur...|     G|       United States|        1956| Teenagers|            1.0|            0.0|          1698.0|            230.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1698],[1.0])|(334,[230],[1.0])|   (4874,[0,2301,476...|  1.0|
|       Cairo Station|     Youssef Chahine|Farid Shawqy, Hin...|Classic Movies, D...| TV-14|               Egypt|        1958| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|   (4874,[5,609,4595...|  1.0|
|Cat on a Hot Tin ...|      Richard Brooks|Elizabeth Taylor,...|Classic Movies, D...|    NR|       United States|        1958|       N/A|            3.0|            0.0|          3222.0|             68.0|     (3,[],[])|  (603,[0],[1.0])|(3936,[3222],[1.0])| (334,[68],[1.0])|   (4874,[0,3825,460...|  3.0|
|                Gigi|Vincente Minnelli...|Leslie Caron, Mau...|Classic Movies, C...|     G|       United States|        1958| Teenagers|            1.0|            0.0|          3824.0|            194.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[3824],[1.0])|(334,[194],[1.0])|   (4874,[0,4427,473...|  1.0|
|               Ujala|       Naresh Saigal|Mala Sinha, Shamm...|Dramas, Internati...| TV-14|               India|        1959| Teenagers|            1.0|            1.0|          2871.0|              0.0| (3,[1],[1.0])|  (603,[1],[1.0])|(3936,[2871],[1.0])|  (334,[0],[1.0])|   (4874,[1,3474,453...|  1.0|
|           Singapore|      Shakti Samanta|Shammi Kapoor, Pa...|Comedies, Dramas,...| TV-PG|     India, Malaysia|        1960| Teenagers|            1.0|          305.0|           660.0|              2.0| (3,[1],[1.0])|(603,[305],[1.0])| (3936,[660],[1.0])|  (334,[2],[1.0])|   (4874,[305,1263,4...|  1.0|
|       Butterfield 8|         Daniel Mann|Elizabeth Taylor,...|Classic Movies, D...| TV-14|       United States|        1960| Teenagers|            1.0|            0.0|          1401.0|            162.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1401],[1.0])|(334,[162],[1.0])|   (4874,[0,2004,470...|  1.0|
|      Ocean's Eleven|     Lewis Milestone|Frank Sinatra, De...|Action & Adventur...| TV-PG|       United States|        1960| Teenagers|            1.0|            0.0|          2486.0|            135.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2486],[1.0])|(334,[135],[1.0])|   (4874,[0,3089,467...|  1.0|
|The Guns of Navarone|     J. Lee Thompson|Gregory Peck, Dav...|Action & Adventur...| TV-14|United Kingdom, U...|        1961| Teenagers|            1.0|           13.0|          1953.0|            112.0| (3,[1],[1.0])| (603,[13],[1.0])|(3936,[1953],[1.0])|(334,[112],[1.0])|   (4874,[13,2556,46...|  1.0|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+-----------------------+-----+
only showing top 20 rows

In [66]:
from pyspark.ml.feature import StandardScaler

In [67]:
scaler=StandardScaler().setInputCol("vectorized_features_out").setOutputCol("features")

In [68]:
scaler_model=scaler.fit(label_indexer_df)
scaler_df=scaler_model.transform(label_indexer_df)
scaler_df.show()

+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+-----------------------+-----+--------------------+
|               title|            director|                cast|           listed_in|rating|             country|release_year|rating_udf|rating_udfIndex|country_indexed|director_indexed|listed_in_indexed|rating_encoded|  country_encoded|   director_encoded|listed_in_encoded|vectorized_features_out|label|            features|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+-----------------------+-----+--------------------+
|The Battle of Midway|           John Ford|Henry Fonda, Jane...|Classic Movies, D...| TV-14|       United States|        1942| Teenagers|            1.0|            0.0|          2151.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2151],[1.0])|(334,[120],[1.0])|   (4874,[0,2754,465...|  1.0|(4874,[0,2754,465...|
|    Tunisian Victory|Frank Capra, John...|    Burgess Meredith|Classic Movies, D...| TV-14|United States, Un...|        1944| Teenagers|            1.0|           22.0|          1687.0|            120.0| (3,[1],[1.0])| (603,[22],[1.0])|(3936,[1687],[1.0])|(334,[120],[1.0])|   (4874,[22,2290,46...|  1.0|(4874,[22,2290,46...|
|Know Your Enemy -...|Frank Capra, Jori...|Walter Huston, Da...|Classic Movies, D...| TV-14|       United States|        1945| Teenagers|            1.0|            0.0|          1688.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1688],[1.0])|(334,[120],[1.0])|   (4874,[0,2291,465...|  1.0|(4874,[0,2291,465...|
|  Let There Be Light|         John Huston|       Walter Huston|Classic Movies, D...| TV-PG|       United States|        1946| Teenagers|            1.0|            0.0|          2155.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2155],[1.0])|(334,[120],[1.0])|   (4874,[0,2758,465...|  1.0|(4874,[0,2758,465...|
|         Thunderbolt|William Wyler, Jo...|James Stewart, Ll...|Classic Movies, D...| TV-PG|       United States|        1947| Teenagers|            1.0|            0.0|          3863.0|            120.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[3863],[1.0])|(334,[120],[1.0])|   (4874,[0,4466,465...|  1.0|(4874,[0,4466,465...|
|     White Christmas|      Michael Curtiz|Bing Crosby, Dann...|Children & Family...|  TV-G|       United States|        1954|    Adults|            0.0|            0.0|          2748.0|            156.0| (3,[0],[1.0])|  (603,[0],[1.0])|(3936,[2748],[1.0])|(334,[156],[1.0])|   (4874,[0,3351,469...|  0.0|(4874,[0,3351,469...|
|     The Blazing Sun|     Youssef Chahine|Omar Sharif, Fate...|Classic Movies, D...| TV-14|               Egypt|        1954| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|   (4874,[5,609,4595...|  1.0|(4874,[5,609,4595...|
|Rebel Without a C...|        Nicholas Ray|James Dean, Natal...|Classic Movies, D...| PG-13|       United States|        1955| Teenagers|            1.0|            0.0|          2899.0|             68.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2899],[1.0])| (334,[68],[1.0])|   (4874,[0,3502,460...|  1.0|(4874,[0,3502,460...|
| Scandal in Sorrento|           Dino Risi|Vittorio De Sica,...|Classic Movies, C...| TV-PG|       Italy, France|        1955| Teenagers|            1.0|           70.0|           401.0|            193.0| (3,[1],[1.0])| (603,[70],[1.0])| (3936,[401],[1.0])|(334,[193],[1.0])|   (4874,[70,1004,47...|  1.0|(4874,[70,1004,47...|
|   The Sign of Venus|           Dino Risi|Sophia Loren, Fra...|Classic Movies, C...| TV-14|               Italy|        1955| Teenagers|            1.0|           25.0|           401.0|            193.0| (3,[1],[1.0])| (603,[25],[1.0])| (3936,[401],[1.0])|(334,[193],[1.0])|   (4874,[25,1004,47...|  1.0|(4874,[25,1004,47...|
|         Dark Waters|     Youssef Chahine|Faten Hamama, Oma...|Classic Movies, D...| TV-14|               Egypt|        1956| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|   (4874,[5,609,4595...|  1.0|(4874,[5,609,4595...|
|    Forbidden Planet|      Fred M. Wilcox|Leslie Nielsen, W...|Action & Adventur...|     G|       United States|        1956| Teenagers|            1.0|            0.0|          1698.0|            230.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1698],[1.0])|(334,[230],[1.0])|   (4874,[0,2301,476...|  1.0|(4874,[0,2301,476...|
|       Cairo Station|     Youssef Chahine|Farid Shawqy, Hin...|Classic Movies, D...| TV-14|               Egypt|        1958| Teenagers|            1.0|            5.0|             6.0|             56.0| (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])| (334,[56],[1.0])|   (4874,[5,609,4595...|  1.0|(4874,[5,609,4595...|
|Cat on a Hot Tin ...|      Richard Brooks|Elizabeth Taylor,...|Classic Movies, D...|    NR|       United States|        1958|       N/A|            3.0|            0.0|          3222.0|             68.0|     (3,[],[])|  (603,[0],[1.0])|(3936,[3222],[1.0])| (334,[68],[1.0])|   (4874,[0,3825,460...|  3.0|(4874,[0,3825,460...|
|                Gigi|Vincente Minnelli...|Leslie Caron, Mau...|Classic Movies, C...|     G|       United States|        1958| Teenagers|            1.0|            0.0|          3824.0|            194.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[3824],[1.0])|(334,[194],[1.0])|   (4874,[0,4427,473...|  1.0|(4874,[0,4427,473...|
|               Ujala|       Naresh Saigal|Mala Sinha, Shamm...|Dramas, Internati...| TV-14|               India|        1959| Teenagers|            1.0|            1.0|          2871.0|              0.0| (3,[1],[1.0])|  (603,[1],[1.0])|(3936,[2871],[1.0])|  (334,[0],[1.0])|   (4874,[1,3474,453...|  1.0|(4874,[1,3474,453...|
|           Singapore|      Shakti Samanta|Shammi Kapoor, Pa...|Comedies, Dramas,...| TV-PG|     India, Malaysia|        1960| Teenagers|            1.0|          305.0|           660.0|              2.0| (3,[1],[1.0])|(603,[305],[1.0])| (3936,[660],[1.0])|  (334,[2],[1.0])|   (4874,[305,1263,4...|  1.0|(4874,[305,1263,4...|
|       Butterfield 8|         Daniel Mann|Elizabeth Taylor,...|Classic Movies, D...| TV-14|       United States|        1960| Teenagers|            1.0|            0.0|          1401.0|            162.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1401],[1.0])|(334,[162],[1.0])|   (4874,[0,2004,470...|  1.0|(4874,[0,2004,470...|
|      Ocean's Eleven|     Lewis Milestone|Frank Sinatra, De...|Action & Adventur...| TV-PG|       United States|        1960| Teenagers|            1.0|            0.0|          2486.0|            135.0| (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2486],[1.0])|(334,[135],[1.0])|   (4874,[0,3089,467...|  1.0|(4874,[0,3089,467...|
|The Guns of Navarone|     J. Lee Thompson|Gregory Peck, Dav...|Action & Adventur...| TV-14|United Kingdom, U...|        1961| Teenagers|            1.0|           13.0|          1953.0|            112.0| (3,[1],[1.0])| (603,[13],[1.0])|(3936,[1953],[1.0])|(334,[112],[1.0])|   (4874,[13,2556,46...|  1.0|(4874,[13,2556,46...|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+----------+---------------+---------------+----------------+-----------------+--------------+-----------------+-------------------+-----------------+-----------------------+-----+--------------------+
only showing top 20 rows

Imparrtirea setului de date in test si train

In [69]:
train, test= scaler_df.randomSplit([0.8, 0.2], seed = 2018)
print("Training:" + str(train.count()))
print("Testing:" + str(test.count()))

Training:4292
Testing:1024

In [70]:
train.groupby("rating_udf").count().show()

+----------+-----+
|rating_udf|count|
+----------+-----+
| Teenagers| 1959|
|       N/A|   51|
|  Children|  126|
|    Adults| 2156|
+----------+-----+

Antrenarea modelului:

In [71]:
from pyspark.ml.classification import LogisticRegression

In [72]:
lr=LogisticRegression(featuresCol='features', labelCol='label', maxIter=5)
lrModel=lr.fit(train)
predictions = lrModel.transform(test)
predictions.select('label', 'features', 'rawPrediction', 'prediction', 'probability' ).toPandas().head(5)

,label,features,rawPrediction,prediction,probability
0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[2.7966739920552257, 1.0362036439696425, -1.71...",0.0,"[0.8401296497697716, 0.14447202306579301, 0.00..."
1,1.0,"(2.1028977685248162, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.6196192391916213, 1.9423363031701513, -1.47...",1.0,"[0.40804284660263834, 0.5634560011426484, 0.01..."
2,1.0,"(2.1028977685248162, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.5513024980409824, 2.9429496054799955, -1.35...",1.0,"[0.08231841204405566, 0.8998624413881202, 0.01..."
3,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[4.073586194094901, -0.2376074450211263, -1.52...",0.0,"[0.9815349899732081, 0.01316976962840571, 0.00..."
4,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.7198178217476112, 2.136823399450833, -1.563...",1.0,"[0.38865100546530834, 0.5897433017517467, 0.01..."

Calcularea acuratetii

In [73]:
accuracy = predictions.filter(predictions.label == predictions.prediction).count()/float(predictions.count())
print("Accuracy:", accuracy)

Accuracy: 0.6767578125

Utilizarea unui Decision Tree Classifier pentru aceeasi problema

In [74]:
from pyspark.ml.classification import DecisionTreeClassifier

In [75]:
dt = DecisionTreeClassifier(featuresCol = 'features', labelCol = 'label', maxDepth = 3)
dtModel = dt.fit(train)
predictions = dtModel.transform(test)
predictions.select('label', 'features', 'rawPrediction', 'prediction', 'probability' ).toPandas().head(5)

,label,features,rawPrediction,prediction,probability
0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[534.0, 661.0, 33.0, 23.0]",1.0,"[0.42685851318944845, 0.5283772981614708, 0.02..."
1,1.0,"(2.1028977685248162, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1429.0, 762.0, 44.0, 25.0]",0.0,"[0.6323008849557522, 0.33716814159292036, 0.01..."
2,1.0,"(2.1028977685248162, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1429.0, 762.0, 44.0, 25.0]",0.0,"[0.6323008849557522, 0.33716814159292036, 0.01..."
3,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1429.0, 762.0, 44.0, 25.0]",0.0,"[0.6323008849557522, 0.33716814159292036, 0.01..."
4,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1429.0, 762.0, 44.0, 25.0]",0.0,"[0.6323008849557522, 0.33716814159292036, 0.01..."

Calcularea acuratetii

In [76]:
accuracy = predictions.filter(predictions.label == predictions.prediction).count()/float(predictions.count())
print("Accuracy:", accuracy)

Accuracy: 0.6044921875

4. Adaugarea unui pipeline

In [77]:
import pyspark.ml
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.ml.feature import StandardScaler
from pyspark.ml.classification import LogisticRegression
from pyspark.sql.functions import udf

In [78]:
from pyspark.sql.functions import udf
def udf_content_rating_group(rating):
  if rating == "TV-Y" or rating == "TV-Y7":
    return 'Children'
  elif rating == "TV-MA" or rating == "NC-17" or rating == "R" or rating == "TV-G":
    return 'Adults'
  elif rating =="TV-Y7-FV" or rating == "TV-PG" or rating== "TV-14"  or rating == "PG" or rating == "G" or rating == "PG-13":
    return 'Teenagers'
  else:
    return 'N/A'

In [94]:
stringIndexer1p=StringIndexer().setInputCol("rating_udf_p").setOutputCol("rating_udfIndex_p")
stringIndexer2p=StringIndexer().setInputCol("country").setOutputCol("country_indexed_p")
stringIndexer3p=StringIndexer().setInputCol("director").setOutputCol("director_indexed_p")
stringIndexer4p=StringIndexer().setInputCol("listed_in").setOutputCol("listed_in_indexed_p")

In [95]:
encoder_p=OneHotEncoder().setInputCols(["rating_udfIndex_p","country_indexed_p", "director_indexed_p", "listed_in_indexed_p" ]).setOutputCols(["rating_encoded_p", "country_encoded_p", "director_encoded_p", "listed_in_encoded_p"])

In [102]:
assembler_p=VectorAssembler().setInputCols([ "country_encoded_p", "director_encoded_p", "listed_in_encoded_p",  "release_year"]).setOutputCol("vectorized_features_out")

In [97]:
label_indexer_p = StringIndexer().setInputCol("rating_udfIndex_p").setOutputCol("label")

In [98]:
scaler_p=StandardScaler().setInputCol("vectorized_features_out").setOutputCol("features")

In [99]:
dataframeforpipeline=spark.sql("Select title, director, cast, listed_in, rating, country, cast(release_year as int) from NetflixTableClean")
dataframeforpipeline.show()

+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+
|               title|            director|                cast|           listed_in|rating|             country|release_year|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+
|The Battle of Midway|           John Ford|Henry Fonda, Jane...|Classic Movies, D...| TV-14|       United States|        1942|
|    Tunisian Victory|Frank Capra, John...|    Burgess Meredith|Classic Movies, D...| TV-14|United States, Un...|        1944|
|Know Your Enemy -...|Frank Capra, Jori...|Walter Huston, Da...|Classic Movies, D...| TV-14|       United States|        1945|
|  Let There Be Light|         John Huston|       Walter Huston|Classic Movies, D...| TV-PG|       United States|        1946|
|         Thunderbolt|William Wyler, Jo...|James Stewart, Ll...|Classic Movies, D...| TV-PG|       United States|        1947|
|     White Christmas|      Michael Curtiz|Bing Crosby, Dann...|Children & Family...|  TV-G|       United States|        1954|
|     The Blazing Sun|     Youssef Chahine|Omar Sharif, Fate...|Classic Movies, D...| TV-14|               Egypt|        1954|
|   The Sign of Venus|           Dino Risi|Sophia Loren, Fra...|Classic Movies, C...| TV-14|               Italy|        1955|
|Rebel Without a C...|        Nicholas Ray|James Dean, Natal...|Classic Movies, D...| PG-13|       United States|        1955|
| Scandal in Sorrento|           Dino Risi|Vittorio De Sica,...|Classic Movies, C...| TV-PG|       Italy, France|        1955|
|    Forbidden Planet|      Fred M. Wilcox|Leslie Nielsen, W...|Action & Adventur...|     G|       United States|        1956|
|         Dark Waters|     Youssef Chahine|Faten Hamama, Oma...|Classic Movies, D...| TV-14|               Egypt|        1956|
|                Gigi|Vincente Minnelli...|Leslie Caron, Mau...|Classic Movies, C...|     G|       United States|        1958|
|       Cairo Station|     Youssef Chahine|Farid Shawqy, Hin...|Classic Movies, D...| TV-14|               Egypt|        1958|
|Cat on a Hot Tin ...|      Richard Brooks|Elizabeth Taylor,...|Classic Movies, D...|    NR|       United States|        1958|
|               Ujala|       Naresh Saigal|Mala Sinha, Shamm...|Dramas, Internati...| TV-14|               India|        1959|
|           Singapore|      Shakti Samanta|Shammi Kapoor, Pa...|Comedies, Dramas,...| TV-PG|     India, Malaysia|        1960|
|       Butterfield 8|         Daniel Mann|Elizabeth Taylor,...|Classic Movies, D...| TV-14|       United States|        1960|
|      Ocean's Eleven|     Lewis Milestone|Frank Sinatra, De...|Action & Adventur...| TV-PG|       United States|        1960|
|The Guns of Navarone|     J. Lee Thompson|Gregory Peck, Dav...|Action & Adventur...| TV-14|United Kingdom, U...|        1961|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+
only showing top 20 rows

In [100]:
rating_udf_p= udf(udf_content_rating_group)
dataframeforpipeline=dataframeforpipeline.withColumn("rating_udf_p",rating_udf('rating'))
dataframeforpipeline.show()

+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+------------+
|               title|            director|                cast|           listed_in|rating|             country|release_year|rating_udf_p|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+------------+
|The Battle of Midway|           John Ford|Henry Fonda, Jane...|Classic Movies, D...| TV-14|       United States|        1942|   Teenagers|
|    Tunisian Victory|Frank Capra, John...|    Burgess Meredith|Classic Movies, D...| TV-14|United States, Un...|        1944|   Teenagers|
|Know Your Enemy -...|Frank Capra, Jori...|Walter Huston, Da...|Classic Movies, D...| TV-14|       United States|        1945|   Teenagers|
|  Let There Be Light|         John Huston|       Walter Huston|Classic Movies, D...| TV-PG|       United States|        1946|   Teenagers|
|         Thunderbolt|William Wyler, Jo...|James Stewart, Ll...|Classic Movies, D...| TV-PG|       United States|        1947|   Teenagers|
|     White Christmas|      Michael Curtiz|Bing Crosby, Dann...|Children & Family...|  TV-G|       United States|        1954|      Adults|
|     The Blazing Sun|     Youssef Chahine|Omar Sharif, Fate...|Classic Movies, D...| TV-14|               Egypt|        1954|   Teenagers|
|Rebel Without a C...|        Nicholas Ray|James Dean, Natal...|Classic Movies, D...| PG-13|       United States|        1955|   Teenagers|
| Scandal in Sorrento|           Dino Risi|Vittorio De Sica,...|Classic Movies, C...| TV-PG|       Italy, France|        1955|   Teenagers|
|   The Sign of Venus|           Dino Risi|Sophia Loren, Fra...|Classic Movies, C...| TV-14|               Italy|        1955|   Teenagers|
|         Dark Waters|     Youssef Chahine|Faten Hamama, Oma...|Classic Movies, D...| TV-14|               Egypt|        1956|   Teenagers|
|    Forbidden Planet|      Fred M. Wilcox|Leslie Nielsen, W...|Action & Adventur...|     G|       United States|        1956|   Teenagers|
|       Cairo Station|     Youssef Chahine|Farid Shawqy, Hin...|Classic Movies, D...| TV-14|               Egypt|        1958|   Teenagers|
|Cat on a Hot Tin ...|      Richard Brooks|Elizabeth Taylor,...|Classic Movies, D...|    NR|       United States|        1958|         N/A|
|                Gigi|Vincente Minnelli...|Leslie Caron, Mau...|Classic Movies, C...|     G|       United States|        1958|   Teenagers|
|               Ujala|       Naresh Saigal|Mala Sinha, Shamm...|Dramas, Internati...| TV-14|               India|        1959|   Teenagers|
|           Singapore|      Shakti Samanta|Shammi Kapoor, Pa...|Comedies, Dramas,...| TV-PG|     India, Malaysia|        1960|   Teenagers|
|       Butterfield 8|         Daniel Mann|Elizabeth Taylor,...|Classic Movies, D...| TV-14|       United States|        1960|   Teenagers|
|      Ocean's Eleven|     Lewis Milestone|Frank Sinatra, De...|Action & Adventur...| TV-PG|       United States|        1960|   Teenagers|
|The Guns of Navarone|     J. Lee Thompson|Gregory Peck, Dav...|Action & Adventur...| TV-14|United Kingdom, U...|        1961|   Teenagers|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+------------+
only showing top 20 rows

In [105]:
pipeline_stages=Pipeline().setStages([stringIndexer1p,stringIndexer2p, stringIndexer3p,  stringIndexer4p, encoder_p, assembler_p,label_indexer_p, scaler_p  ])
pipeline_model=pipeline_stages.fit(dataframeforpipeline)
pipeline_df=pipeline_model.transform(dataframeforpipeline)
pipeline_df.show()

+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+------------+-----------------+-----------------+------------------+-------------------+----------------+-----------------+-------------------+-------------------+-----------------------+-----+--------------------+
|               title|            director|                cast|           listed_in|rating|             country|release_year|rating_udf_p|rating_udfIndex_p|country_indexed_p|director_indexed_p|listed_in_indexed_p|rating_encoded_p|country_encoded_p| director_encoded_p|listed_in_encoded_p|vectorized_features_out|label|            features|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+------------+-----------------+-----------------+------------------+-------------------+----------------+-----------------+-------------------+-------------------+-----------------------+-----+--------------------+
|The Battle of Midway|           John Ford|Henry Fonda, Jane...|Classic Movies, D...| TV-14|       United States|        1942|   Teenagers|              1.0|              0.0|            2151.0|              120.0|   (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2151],[1.0])|  (334,[120],[1.0])|   (4874,[0,2754,465...|  1.0|(4874,[0,2754,465...|
|    Tunisian Victory|Frank Capra, John...|    Burgess Meredith|Classic Movies, D...| TV-14|United States, Un...|        1944|   Teenagers|              1.0|             22.0|            1687.0|              120.0|   (3,[1],[1.0])| (603,[22],[1.0])|(3936,[1687],[1.0])|  (334,[120],[1.0])|   (4874,[22,2290,46...|  1.0|(4874,[22,2290,46...|
|Know Your Enemy -...|Frank Capra, Jori...|Walter Huston, Da...|Classic Movies, D...| TV-14|       United States|        1945|   Teenagers|              1.0|              0.0|            1688.0|              120.0|   (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1688],[1.0])|  (334,[120],[1.0])|   (4874,[0,2291,465...|  1.0|(4874,[0,2291,465...|
|  Let There Be Light|         John Huston|       Walter Huston|Classic Movies, D...| TV-PG|       United States|        1946|   Teenagers|              1.0|              0.0|            2155.0|              120.0|   (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2155],[1.0])|  (334,[120],[1.0])|   (4874,[0,2758,465...|  1.0|(4874,[0,2758,465...|
|         Thunderbolt|William Wyler, Jo...|James Stewart, Ll...|Classic Movies, D...| TV-PG|       United States|        1947|   Teenagers|              1.0|              0.0|            3863.0|              120.0|   (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[3863],[1.0])|  (334,[120],[1.0])|   (4874,[0,4466,465...|  1.0|(4874,[0,4466,465...|
|     White Christmas|      Michael Curtiz|Bing Crosby, Dann...|Children & Family...|  TV-G|       United States|        1954|      Adults|              0.0|              0.0|            2748.0|              156.0|   (3,[0],[1.0])|  (603,[0],[1.0])|(3936,[2748],[1.0])|  (334,[156],[1.0])|   (4874,[0,3351,469...|  0.0|(4874,[0,3351,469...|
|     The Blazing Sun|     Youssef Chahine|Omar Sharif, Fate...|Classic Movies, D...| TV-14|               Egypt|        1954|   Teenagers|              1.0|              5.0|               6.0|               56.0|   (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])|   (334,[56],[1.0])|   (4874,[5,609,4595...|  1.0|(4874,[5,609,4595...|
|Rebel Without a C...|        Nicholas Ray|James Dean, Natal...|Classic Movies, D...| PG-13|       United States|        1955|   Teenagers|              1.0|              0.0|            2899.0|               68.0|   (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2899],[1.0])|   (334,[68],[1.0])|   (4874,[0,3502,460...|  1.0|(4874,[0,3502,460...|
| Scandal in Sorrento|           Dino Risi|Vittorio De Sica,...|Classic Movies, C...| TV-PG|       Italy, France|        1955|   Teenagers|              1.0|             70.0|             401.0|              193.0|   (3,[1],[1.0])| (603,[70],[1.0])| (3936,[401],[1.0])|  (334,[193],[1.0])|   (4874,[70,1004,47...|  1.0|(4874,[70,1004,47...|
|   The Sign of Venus|           Dino Risi|Sophia Loren, Fra...|Classic Movies, C...| TV-14|               Italy|        1955|   Teenagers|              1.0|             25.0|             401.0|              193.0|   (3,[1],[1.0])| (603,[25],[1.0])| (3936,[401],[1.0])|  (334,[193],[1.0])|   (4874,[25,1004,47...|  1.0|(4874,[25,1004,47...|
|         Dark Waters|     Youssef Chahine|Faten Hamama, Oma...|Classic Movies, D...| TV-14|               Egypt|        1956|   Teenagers|              1.0|              5.0|               6.0|               56.0|   (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])|   (334,[56],[1.0])|   (4874,[5,609,4595...|  1.0|(4874,[5,609,4595...|
|    Forbidden Planet|      Fred M. Wilcox|Leslie Nielsen, W...|Action & Adventur...|     G|       United States|        1956|   Teenagers|              1.0|              0.0|            1698.0|              230.0|   (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1698],[1.0])|  (334,[230],[1.0])|   (4874,[0,2301,476...|  1.0|(4874,[0,2301,476...|
|       Cairo Station|     Youssef Chahine|Farid Shawqy, Hin...|Classic Movies, D...| TV-14|               Egypt|        1958|   Teenagers|              1.0|              5.0|               6.0|               56.0|   (3,[1],[1.0])|  (603,[5],[1.0])|   (3936,[6],[1.0])|   (334,[56],[1.0])|   (4874,[5,609,4595...|  1.0|(4874,[5,609,4595...|
|Cat on a Hot Tin ...|      Richard Brooks|Elizabeth Taylor,...|Classic Movies, D...|    NR|       United States|        1958|         N/A|              3.0|              0.0|            3222.0|               68.0|       (3,[],[])|  (603,[0],[1.0])|(3936,[3222],[1.0])|   (334,[68],[1.0])|   (4874,[0,3825,460...|  3.0|(4874,[0,3825,460...|
|                Gigi|Vincente Minnelli...|Leslie Caron, Mau...|Classic Movies, C...|     G|       United States|        1958|   Teenagers|              1.0|              0.0|            3824.0|              194.0|   (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[3824],[1.0])|  (334,[194],[1.0])|   (4874,[0,4427,473...|  1.0|(4874,[0,4427,473...|
|               Ujala|       Naresh Saigal|Mala Sinha, Shamm...|Dramas, Internati...| TV-14|               India|        1959|   Teenagers|              1.0|              1.0|            2871.0|                0.0|   (3,[1],[1.0])|  (603,[1],[1.0])|(3936,[2871],[1.0])|    (334,[0],[1.0])|   (4874,[1,3474,453...|  1.0|(4874,[1,3474,453...|
|           Singapore|      Shakti Samanta|Shammi Kapoor, Pa...|Comedies, Dramas,...| TV-PG|     India, Malaysia|        1960|   Teenagers|              1.0|            305.0|             660.0|                2.0|   (3,[1],[1.0])|(603,[305],[1.0])| (3936,[660],[1.0])|    (334,[2],[1.0])|   (4874,[305,1263,4...|  1.0|(4874,[305,1263,4...|
|       Butterfield 8|         Daniel Mann|Elizabeth Taylor,...|Classic Movies, D...| TV-14|       United States|        1960|   Teenagers|              1.0|              0.0|            1401.0|              162.0|   (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[1401],[1.0])|  (334,[162],[1.0])|   (4874,[0,2004,470...|  1.0|(4874,[0,2004,470...|
|      Ocean's Eleven|     Lewis Milestone|Frank Sinatra, De...|Action & Adventur...| TV-PG|       United States|        1960|   Teenagers|              1.0|              0.0|            2486.0|              135.0|   (3,[1],[1.0])|  (603,[0],[1.0])|(3936,[2486],[1.0])|  (334,[135],[1.0])|   (4874,[0,3089,467...|  1.0|(4874,[0,3089,467...|
|The Guns of Navarone|     J. Lee Thompson|Gregory Peck, Dav...|Action & Adventur...| TV-14|United Kingdom, U...|        1961|   Teenagers|              1.0|             13.0|            1953.0|              112.0|   (3,[1],[1.0])| (603,[13],[1.0])|(3936,[1953],[1.0])|  (334,[112],[1.0])|   (4874,[13,2556,46...|  1.0|(4874,[13,2556,46...|
+--------------------+--------------------+--------------------+--------------------+------+--------------------+------------+------------+-----------------+-----------------+------------------+-------------------+----------------+-----------------+-------------------+-------------------+-----------------------+-----+--------------------+
only showing top 20 rows

In [106]:
trainpipeline, testpipeline= pipeline_df.randomSplit([0.8, 0.2], seed = 2018)
print("Training:" + str(trainpipeline.count()))
print("Testing:" + str(testpipeline.count()))

Training:4292
Testing:1024

In [107]:
lr=LogisticRegression(featuresCol='features', labelCol='label', maxIter=5)
lrModel=lr.fit(trainpipeline)
predictionspipeline = lrModel.transform(testpipeline)
predictionspipeline.select('label', 'features', 'rawPrediction', 'prediction', 'probability' ).toPandas().head(5)

,label,features,rawPrediction,prediction,probability
0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[2.7966739920552257, 1.0362036439696425, -1.71...",0.0,"[0.8401296497697716, 0.14447202306579301, 0.00..."
1,1.0,"(2.1028977685248162, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.6196192391916213, 1.9423363031701513, -1.47...",1.0,"[0.40804284660263834, 0.5634560011426484, 0.01..."
2,1.0,"(2.1028977685248162, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.5513024980409824, 2.9429496054799955, -1.35...",1.0,"[0.08231841204405566, 0.8998624413881202, 0.01..."
3,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[4.073586194094901, -0.2376074450211263, -1.52...",0.0,"[0.9815349899732081, 0.01316976962840571, 0.00..."
4,1.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.7198178217476112, 2.136823399450833, -1.563...",1.0,"[0.38865100546530834, 0.5897433017517467, 0.01..."

In [108]:
accuracy = predictionspipeline.filter(predictionspipeline.label == predictionspipeline.prediction).count()/float(predictionspipeline.count())
print("Accuracy:", accuracy)

Accuracy: 0.6767578125